html {
    background-color: #E2E7E8;
}

body {
    padding: 0 35px 35px;
}

.content {
    min-height: 95vh;
}
.title {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.park-selector, .park-table {
    width: 90%;
    margin: auto;
}

.park-table {
    padding-bottom: 10px;
}

.short-text {
    display: none;
}

.footer {
    width: 90%;
    text-align: right;
    color: rgba(0, 0, 0, 0.54);
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

@media screen and (max-width: 1000px) {
    .park-selector, .park-table , .footer {
        width: 100%;
    }

    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }
}



