html {
    background-color: #E2E7E8;
}

body {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.park-selector, .park-table {
    width: 80%;
    margin: auto;
}

.short-text {
    display: none;
}

@media screen and (max-width: 1000px) {
    .park-selector, .park-table {
        width: 100%;
    }

    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }
}



